@media print {
  body * {
    visibility: hidden;
  }
  #membership-card, #membership-card * {
    visibility: visible;
  }
  #membership-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
  .no-print {
    display: none !important;
  }
}
